*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f3f3f3; */
  background-color: #333;
  color: #333;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

@media screen and (max-width: 553px) {
  .our-story-card-text {
    padding: 60px 0;
  }
  .our-story-card-title {
    font-size: 2.125rem;
  }
}

@media screen and (max-width:360px) {
    .image, .cardContent {
        width: 100%;
    }
}